
services:
  nginx:
    build: ./nginx
    container_name: nginx
    ports:
      - "80:80"
      - "7700:7700"
      # - "7070:7070"
      # - "7000:7000"
      # - "8800:8800"
      # - "7000:7000"
      - "7001:7001"
      - "7002:7002"
      - "7003:7003"
      # - "7004:7004"
      # - "7005:7005"
      # - "7006:7006"
      # - "7007:7007"
      # - "7008:7008"
      # - "7009:7009"
      # - "7010:7010"
      # - "7011:7011"
      # - "7012:7012"
      # - "7013:7013"
      # - "7014:7014"
      # - "7015:7015"
      # - "7016:7016"
      # - "7017:7017"
      # - "7018:7018"
      # - "7019:7019"
      # - "7020:7020"
      # - "7021:7021"
      # - "7022:7022"
      # - "7023:7023"
      # - "7024:7024"
      # - "7025:7025"
      # - "7026:7026"
      # - "7027:7027"
      # - "7028:7028"
      # - "7029:7029"
      # - "7030:7030"
      # - "7031:7031"
      # - "7032:7032"
      # - "7033:7033"
      # - "7034:7034"
      # - "7035:7035"
      # - "7036:7036"
      # - "7037:7037"
      # - "7038:7038"
      # - "7039:7039"
      # - "7040:7040"
      # - "7041:7041"
      # - "7042:7042"
      # - "7043:7043"
      # - "7044:7044"
      # - "7045:7045"
      # - "7046:7046"
      # - "7047:7047"
      # - "7048:7048"
      # - "7049:7049"
      # - "7050:7050"
      # - "7051:7051"
      # - "7052:7052"
      # - "7053:7053"
      # - "7054:7054"
      # - "7055:7055"
      # - "7056:7056"
      # - "7057:7057"
      # - "7058:7058"
      # - "7059:7059"
      # - "7060:7060"
      # - "7061:7061"
      # - "7062:7062"
      # - "7063:7063"
      # - "7064:7064"
      # - "7065:7065"
      # - "7066:7066"
      # - "7067:7067"
      # - "7068:7068"
      # - "7069:7069"
      # - "7070:7070"
      # - "7071:7071"
      # - "7072:7072"
      # - "7073:7073"
      # - "7074:7074"
      # - "7075:7075"
      # - "7076:7076"
      # - "7077:7077"
      # - "7078:7078"
      # - "7079:7079"
      # - "7080:7080"
      # - "7081:7081"
      # - "7082:7082"
      # - "7083:7083"
      # - "7084:7084"
      # - "7085:7085"
      # - "7086:7086"
      # - "7087:7087"
      # - "7088:7088"
      # - "7089:7089"
      # - "7090:7090"
      # - "7091:7091"
    depends_on:
      - php
    volumes:
      - files:/var/www/test
      - blbl:/var/www/blbl
      - data:/var/www/dataViz
      - ./nginx/conf/test1.conf:/etc/nginx/nginx.conf
    networks:
      - inception

  php:
    build: ./php-fpm
    container_name: php
    expose:
      - "9000"
    volumes:
      - files:/var/www/test
      - blbl:/var/www/blbl
      - data:/var/www/dataViz
    networks:
      - inception

networks:
  inception:
    driver: bridge

volumes:
  files:
  blbl:
  data:
